*{margin: 0px;
	padding: 0px;
}

body{
	color:#ffffff;

}

header{
	width: 100%;
	height: 140px;
	background-color:#54E5F8;
	color:#ffffff;
	padding: 10px;
    display: flex;
    justify-content:space-between;
    box-sizing:border-box;       
}
header h1{
	 
      	font-size: 20px;
        font-family:"Arial, Helvetica", sans-serif;
        color:#000000;
}
.social{
    	position:absolute;
    	font-size: 20px;
    	display:flex;
    	justify-content:space-around;
    	margin-left: 1100px;
    	z-index:1;
    	text-decoration: none;
    	padding:5px;
        background: transparent;
    	display: flex;
    }
    .social ul{
    background-color:transparent;
    display:flex;
    list-style: none; 
    justify-content: space-around;
    }
    .social ul li a{
    	display:inline-block; /*para poder agregar un padding*/
    	color:#ffffff;
    	background:#000000;
    	padding: 10px, 15px; 
    	text-decoration: none;
    	justify-content: space-around;
    	-webkit-transition:all 500ms ease;
    	-o-transition:all 500ms ease;
    	transition: all 500ms ease;
    }
    

    .icon{
    	color:#ffffff;
    	text-decoration: none;
    	padding:5px;
    	display: flex;
    	}
    
    
     .social ul li .icon-facebook{
    	background: #3F60A5;
    }
     .social ul li .icon-twitter{
    
    	background: #339dc5;
    }
     .social ul li .icon-youtube{
    	background: #E83028;
    }
     .social ul li .icon-instagram{
    	background: #e4405f;
    }
    .social ul li .icon-pinterest{
    	background: #cb2027;
    }
    .icon:first-child{
    	border-radius:5px;
    }
    .icon:last-child{
    	border-radius:5px;
    }
    .social ul li a:hover{
    	padding: 10px, 30px;
    	background: #000;
    }

img{
	width: 10%;
	height: 120px;
    border:#707070;
    margin-left:50px;
}
header ul li img{
	width: 60%;
	height: 50px;
	padding:2px;
	margin-left:30px;
	list-style: none;
}


#btn-menu{
display:none;
}

 header label{
 	display: block;
 	width: 30%;
 	height: 50px;
 	padding: 10px;
 	justify-content: left;
 	display: none;
 }
 header label:hover{
 	cursor: pointer;
 	background: rgba(0 0 0 0.3);
 }
 header ul li{
 	list-style: none;

 }
.menu ul{
	margin: 0;
	padding: 0px;
    background-color:transparent;
    display:flex;
    list-style: none; /*quita los puntos de la ista*/
 
}

.menu li a{
    display:block;
    padding: 50px 18px; 
    color:#ffffff; 
    text-decoration: none; // quita el subrallado
}
/*.menu a:hover{ background-color: rgba(0,0,0,0.3); color:blue;}
.menu a:focus{color:#f1f1f1; }   /*al pasar el cursor cambia el color*/

.menu a span{
    margin-left:10px;  
}
.menu ul li:hover ul{
    display: block;
    position: absolute;

}
.menu ul li a h1:hover{color:blue;}
#btn-menu:checked ~ .menu{
        transform: translateX(0%); /*para que aparesca el menu*/
        
    }
  


    .inicio{
    	width: 100%;
    	height: 780px;
    	background-image: url(../img/fondo.jpg);
    	background-repeat: no-repeat;
    	background-size:cover;
    	background-position: absolute;
    	background-attachment:all;
    	display: flex;
    	padding: 40px;
    	flex-direction: column;
    	justify-content:center;
    	align-items: left;  
    	float: left; 
    	box-sizing:border-box;
    }
    .inicio h1{
    	margin-top: 12px;
    	margin-left: 100px;
    	font-size: 30px;
    	font-family:"Lato", sans-serif;
    }
    .inicio h2{
    	font-size:15px;
    	margin-left: 100px;
    	font-family: Arial, Helvetica, sans-serif;
    	color:#ffffff;
    }
     .inicio section{
    width:8%;
    height:40px;
    padding:10px;
    border:solid .1rem #f1f1f1;
    border-color: #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius:8px;
    border-radius:8px;
    color:#ffffff;
    margin-top: 20px;
    margin-left:100px;
    position:relative;
    text-align: center;
    background-color:transparent;
    box-sizing: border-box;

}
 .inicio span a h1{
    font-size:17px;
    color:#ffffff;
    margin-top:0px;
    margin-left:2px;
    z-index: 1;
}

.inicio span a h1:hover{
    color:blue;
}
     

    .about{
    	width: 50%;
    	height: 500px;
    	background:#ffffff;
    	padding: 20px;
    	float:left;
    	justify-content: center;
    	 box-sizing: border-box;
    }
   
    .about h1{
    	font-size:30px; 
       padding: 10px;
      font-family: "Comic Sans MS", cursive, sans-serif;
      text-indent:60px;
      color: #000000;
       
    }
    .about h2{
    font-size:25px; 
     padding: 10px;
      font-family: "Comic Sans MS", cursive, sans-serif;
      color: #000000;
       
    }
    .about p{
    	color:#000;
    	font-size:20px; 
       padding: 10px;
       font-family:"Comic Sans MS", cursive, sans-serif;
      color: #000000;
      box-sizing: border-box;
    }
    article{
    	width: 50%;
    	height: 500px;
    	justify-content: center;
    	padding: 20px;
    	float:left;
        box-sizing: border-box;
    }

    article p{
    	color:black;
    	font-size: 20px;
        text-align: center;
    	font-family: "Comic Sans MS", cursive, sans-serif;
    }
   

    .hamburguer{
    	width: 100%;
    	height: 100px;
    	background-color:#ffffff;
    	color:#000000;
    	text-align: center;
    	padding: 20px;
    	float: left;
    	box-sizing: border-box;
    }
   
    .hamburguer h1{
    	color:#000000;
    }
    
    .small{
        width: 30%;
        height: 300px;
        padding: 10px;
        text-align: center;
        margin-left:0px;
        align-content:center;
        float: left;
    }
    .small img{
        width: 100%;
        height:200px; 
        margin:5px;
        box-sizing:border-box;
    }
    .small h1{
        color:#000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    .row{
        width: 33%;
        height: 300px;
        padding: 10px;
        margin-left:5px;
        text-align: center;
        float: left;
        box-sizing:border-box;
    }
    .row img{
        width: 100%;
        height: 200px;
        margin:5px;
        box-sizing:border-box;
    }
    .row h1{
        color:#000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .group{
        width: 33%;
        height: 300px;
        padding: 10px;
        margin-left:5px;
        text-align: center;
        float: left;
        box-sizing:border-box;
    }
    .group img{
        width: 100%;
        height: 200px;
        margin:5px;
        box-sizing:border-box;
    }
    .group h1{
        color:#000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    .green{
    	width: 100%;
    	height: 200px;
    	background-color:#F2EDED;
    	color:#000000;
    	text-align: center;
        align-items: center;
        justify-content: center;
    	padding: 20px;
    	float: left;
    	box-sizing: border-box;
    }
   
    .green ul{
    background-color:transparent;
    font-size: 20px;
    display:flex;
    list-style: none; 
    justify-content:flex-start;
    text-decoration: none;
    background: transparent;
    z-index: 1;
    padding: 20px;
    }
    .green ul li a{
        display:inline-block; /*para poder agregar un padding*/
        color:#ffffff;
        background:#000000;
        padding: 10px, 15px; 
        text-decoration: none;
        justify-content: space-around;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition: all 500ms ease;
    }
    .green h1{
      font-size:30px; 
      font-family:Arial, Helvetica, sans-serif;
      color:blue;
      z-index: 1;
          }

    .green section{
    width:8%;
    height:50px;
    padding:10px;
    border:solid 2px #000000;
    border-color: #000000;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:#000000;
    margin-left:600px;
    position:relative;
    text-align: center;
    align-items:center;
    margin-top: 30px;
    background-color:transparent;
    z-index: 1;
    box-sizing: border-box;

}
   .green ul li .icon-facebook{
        background: #3F60A5;
    }
     .green ul li .icon-twitter{
    
        background: #339dc5;
    }
     .green ul li .icon-youtube{
        background: #E83028;
    }
     .green ul li .icon-instagram{
        background: #e4405f;
    }
    .green ul li .icon-pinterest{
        background: #cb2027;
    }
    .icon:first-child{
        border-radius:5px;
    }
    .icon:last-child{
        border-radius:5px;
    }
    .green ul li a:hover{
        padding: 10px, 30px;
        background: #000;
    }
   .green section span a h1{
   	font-size: 17px;
   
   }
   .green span a h1:hover{
    color:#000;
      }
    
   
    h1{
    	font-size:30px; 
      font-family: "Comic Sans MS", cursive, sans-serif;
      color:#ffffff;
      z-index: 1;
          }
      
      #footer {
     position:relative;
     background:#000000;
     opacity: 0.8;
     color:white;
     float:left; 
     width:100%;
     height:40px;
     padding:10px;
     text-align: center;
     box-sizing:border-box;
}    

.info{
        width:50%;
        height:560px;
        padding: 20px;
        float:left;
        justify-content: center;
        text-align: center;
        background:#A6D5F9;
        box-sizing: border-box;
    }
    .info img{
        width: 50%;
        height: 250px;
    }
    .info h1{
        font-size:30px; 
      font-family: "Comic Sans MS", cursive, sans-serif;
      z-index: 1;
        color:#000;
    }
     .text{
        width: 50%;
        height: 560px;
        background:#ffffff;
        padding: 20px;
        float:left;
        justify-content: center;
         box-sizing: border-box;
    }
    
      .text h1{
        font-size:30px; 
       padding: 10px;
      font-family: "Comic Sans MS", cursive, sans-serif;
      text-indent:60px;
      color: #000000;
       
    }
    .text h2{
    font-size:25px; 
     padding: 10px;
      font-family: "Comic Sans MS", cursive, sans-serif;
      color: #000000;
       
    }
     .text p{
        color:#000;
        font-size:20px; 
       padding: 10px;
       font-family:"Comic Sans MS", cursive, sans-serif;
      color: #000000;
      box-sizing: border-box;
     }

    
